
@font-face {
  font-family: 'Helvetica Rounded';
  src: url('./fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
}
body {
  margin: 0;
  font-family: 'Helvetica Rounded', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


